* {
    margin: 0;
}

.pregunta {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}

#reload {
    margin-left: 200px;
}

#div-main {
    margin: 10px;
    box-sizing: border-box;
}

#div-edades {
    width: 70%;
    box-sizing: border-box;
}

#inputs {
    box-sizing: content-box;
}

.form {
    border: 2px black solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    float: left;
    width: 300px;
    background: lightgrey;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.form label {
    display: block;
    margin: 8px 2px;
}

strong {
    display: block;
    margin: 4px 2px;
}

#resultados {
    border: solid #ccc;
    float: right;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    box-sizing: border-box;
}

#calcular {
    padding: 5px;
    margin: 6px 4px;
}
